# 环境设置
HZ_FUTURE_SMART_BRAIN_ENV=dev


ROUTER_LLM_API_KEY=8a70345b54344f4a8BnmSdbQbNJT7
ROUTER_LLM_BASE_URL=https://open.bigmodel.cn/api/paas/v4/
ROUTER_LLM_MODEL=glm-4-plus
ROUTER_LLM_TEMPERATURE=0.7

# LLM配置
LLM_TYPE=qwen
LLM_API_KEY=sk-054df99d025749cebbf2394baf84f1
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL=qwen-plus-latest
LLM_TEMPERATURE=0.7
LLM_HISTORY_TURN=15
LLM_MAX_TOKENS=128000



EMBEDDING_TYPE=siliconflow
EMBEDDING_API_KEY=sk-zcewmhyhkaelmhrijbipqbrlfxhwpynkhdbzkqixd
EMBEDDING_BASE_URL=https://api.siconflow.cn/v1
EMBEDDING_MODEL=BAAI/bge-large-zh-v1.5
EMBEDDING_DIMENSIONS=1024
EMBEDDING_MAX_TOKENS=512

# 数据库配置
# DB_TYPE=postgresql
# DB_DATABASE=shenzhen_airport
# DB_HOST=116.198.252.1
# DB_PORT=5432
# DB_USER=postgres
# DB_PASSWORD=942413L_eon
# DB_MIN_SIZE=2
# DB_MAX_SIZE=5

# text2sql配置
DB_TYPE=postgresql
DB_DATABASE=hzwl
DB_HOST=192.168.0.200
DB_PORT=5432
DB_USER=hzwl
DB_PASSWORD=hzwl@12345
DB_MIN_SIZE=2
DB_MAX_SIZE=5

DIALECT=PostgreSQL
LANGUAGE=zh

# 向量数据库配置
STORAGE_TYPE=chromadb
CHROMA_HOST=192.168.0.200
CHROMA_PORT=7996
# CHROMA_HOST=116.198.252.1
# CHROMA_PORT=8000
CHROMA_N_RESULTS=5
CHROMA_M=16
CHROMA_CONSTRUCTION_EF=100
CHROMA_SEARCH_EF=50
CHROMA_SPACE=cosine

# 缓存配置
CACHE_TYPE=memory
CACHE_MAX_SIZE=100
CACHE_TTL=600

# Redis配置（生产环境）
REDIS_HOST=192.168.0.200
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=hzwl@12345


# 知识库配置
KB_ADDRESS=192.168.0.200
KB_API_KEY=ragflow-gyMDY3NDQwMTUwYzExZjA5MmMwYTJmMT
KB_DATASET_NAME= 民航知识库
KB_SIMILARITY_THRESHOLD=0.0001
KB_VACTOR_SIMILARITY_WEIGHT=0.7
KB_TOPK=10
KB_KEY_WORDS=True

#XINFERENCE管理模型
RERANKER_ADDRESS=192.168.0.200:9998
RERANKER_MODEL=bge-reranker-large

# 情感识别模型配置
EMOTION_MODEL= "D:\\daily-learning\\jupyterlab-working\\nlp-learning\\multilingual-sentiment-analysis"


# 日志配置
LOG_LEVEL=DEBUG
LOG_DIR=logs
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=5 
